<div class="article-detail-comment">
  <div class="article-detail-comment-commenter">
    Commenter: <%= comment.commenter %>
  </div>
  <div class="article-detail-comment-body">
    Comment: <%= comment.body %>
  </div>
</div>