<div class="article-list">
  <%= link_to "New Article", new_article_path %>
  <h1 class="article-list-title">Articles</h1>
  <ul>
    <% @articles.each do |article| %>
      <li class="article-list-item">
        <%= link_to article.title, article %>
        <p>
          <%= article.body.length > 10 ? article.body.slice(0..10) + '...' : article.body %>
        </p>
      </li>
    <% end %>
  </ul>
</div>