<div class="article-detail">
  <%= link_to "Back", articles_path %>
  <h1 class="article-detail-title">
    <%= @article.title %>
  </h1>
  <div class="article-detail-content">
    <%= @article.body %>
  </div>
</div>